@import '@styles/variables';
@import '@styles/mixins';

@mixin inputStyles {
  @include nexus-regular;
  background: $grouch-off-white;
  color: $grouch-dirty-black;
  border: $input-border-width solid $grouch-dirty-black;
  border-bottom: $input-border-width solid $grouch-dark-yellow;
  border-right: $input-border-width solid $grouch-dark-yellow;
}

.contactForm {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:                                    rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: $grouch-light-yellow;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: 1;
    backdrop-filter: blur(3.5px);
  }

  .form_wrapper {
    margin: 2em 0 0;
  }

  .form_content_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .form_thank_you_wrapper {
    position: absolute;
    width: calc(100% - (2 * $container-padding--left));
    height: calc(100% - (2 * $container-padding--top));
    top: calc(2 * $container-padding--top);
    left: $container-padding--left;
    opacity: 0;
    transition: top 0.3s ease-in-out;
    z-index: -1;

    @include small-up {
      width: calc(100% - (2 * $container-padding--left--xl));
      left: $container-padding--left--xl;
    }
  }

  &__idle {
    &::before {
      background-color: $grouch-light-yellow;
    }
  }

  &__submitting {
    &::before {
      content: 'Submitting...';
      opacity: .8;
      left: 0;
      @include nexus-bold;
      font-size: 2rem;
    }
  }

  &__submitted {
    .form_thank_you_wrapper {
      top: calc(2 * $container-padding--top);
      opacity: 1;
      z-index: 1;
      transition-delay: 0.2s;
    }

    .form_content_wrapper {
      top: 10%;
      opacity: 0;
    }

    &::before {
      opacity: 0;
      left: -100%;
      background-color: $grouch-light-green;
      transition-delay: 0.2s;
    }
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: $form-gap-x $form-gap-y;
    grid-auto-flow: row;
    grid-template-areas:
      'name'
      'email'
      'message'
      'submit';


    @include small-up {
      grid-template-columns: 0.9fr 1.1fr;
      grid-template-rows: auto auto auto;
      gap: $form-gap-x $form-gap-y;
      grid-auto-flow: row;
      grid-template-areas:
        'name message'
        'email message'
        '. submit';
    }

    .name {
      grid-area: name;
    }

    .email {
      grid-area: email;
    }

    .message {
      grid-area: message;
    }

    .submit {
      @include nexus-bold;
      grid-area: submit;
      justify-self: end;
      @include inputButtonStyles;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      @include inputStyles;
      padding: 10px;
      width: 100%;
    }

    textarea {
      resize: none;
      height: calc(100% - ((2 * $form-gap-x) + (2 * $input-border-width)));
    }

    .label {
      padding-bottom: 1.3em;
      position: relative;
      @include nexus-bold;

      .labelText {
        font-size: 1.5rem;
        font-weight: 700;
        color: $grouch-dirty-black;
      }
    }

    .errorMsg {
      @include nexus-regular;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      color: $grouch-light-red;
      font-size: 0.8rem;
    }
  }
}
