@import '@styles/variables';
@import '@styles/mixins';

.h1 {
  @include amifer-bold;
  color: white;
  margin: 0;
  font-size: 3.2rem;
  font-size: clamp(2.4rem, 5vw, 3.2rem);

  .highlight {
    color: var(--grouch-light-green);
  }

  @include small-up {
    font-size: 5rem;
  }
}
