@import '@styles/variables';
@import '@styles/mixins';

.h2 {
  position: relative;
  @include amifer-bold;
  color: inherit;
  margin: 0;
  font-weight: 600;
  font-size: 2.4rem;
  font-size: clamp(1.45rem, 3.9vw, 2.3rem);

  // &::before {
  //   content: '_';
  //   position: absolute;
  //   font-size: 0.9em;
  //   left: -0.8em;
  //   top: -0.01em;
  //   color: var(--grouch-light-green);
  // }

  .highlight {
    font-weight: 700;
    color: var(--grouch-light-green);
  }
}
