@use 'sass:color';

@import '@styles/variables';

.hero {
  background: color.adjust($grouch-light-yellow, $alpha: -.8);

  &__options {
    display: grid;
    gap: 2.5em 0;

    @include small-up {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        ". . .";
      justify-content: center;
      padding: 0 2em;
    }
  }
}

.heroOption {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
  'title'
  'button';

  @include small-up {
    gap: 2em;
    justify-items: center;
  }

  .h2 {
    font-size: 1.3em;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8);
    width: unset;
    min-width: unset;

    @include small-up {
      text-align: center;
      font-size: 1.4em;

    .line_one, .line_two {
        display: block;
      }
    }

    .line_two {
      color: var(--grouch-dark-yellow);
    }
  }

  .p {
    grid-area: button;
    width: 100%;
    font-size: .8em;
    line-height: 2.125em;
    font-family: var(--grouch-font-family);
    margin: 0 auto;
    min-width: unset;
    @include nexus-regular;

    @include small-up {
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    justify-self: center;
    line-height: 2em;
    height: 100%;
    padding: 0 2em 0 0.6em;
    background-color: var(--grouch-dark-purple);
    color: $grouch-white;
    text-decoration: none;
    transition: all 0.14s ease-in-out;
    border-radius: 0.5em;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.8);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);

    &:after {
      font-size: 1.3em;
      position: absolute;
      right: .5em;
      top: 60%;
      transform: translateY(-70%);
      content: '↓';
    }

    &:hover {
      background-color: var(--grouch-light-purple);
      color: var(--grouch-white);
      text-shadow: -1px 1px 0 color.adjust($grouch-dark-purple, $alpha: -.2);

      &:after {
        transform: translateY(-66%);
      }
    }
  }
}
