@import '@styles/variables.scss';
@import '@styles/mixins';

.container {
  width: 100%;
  margin: 0 auto 1em;
  @include container-padding;

  &__center {
    text-align: center;
  }

  &__spacing-xl {
    padding: 50px 40px;
  }

  &__full {
    padding-right: 0;
    padding-left: 0;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__flex {
    /* does nothing on mobile */
  }

  &__purple {
    background: transparentize(#9b6ad3, 0.6);
    background: linear-gradient(253deg, rgba(155,106,211,0.1) 18%, rgba(155,106,211,0.8) 100%);

  }

  &__blue {
    background: var(--grouch-light-blue);
  }

  &__green {
    background: var(--grouch-light-green);
  }

  &__red {
    background: transparentize(#d15959, 0.6);
    background: linear-gradient(253deg, rgba(209,89,89,0.1) 18%, rgba(209,89,89,0.8) 100%);
  }

  &__yellow {
    background: var(--grouch-dark-yellow);
    color: var(--grouch-dirty-black);
  }

  &__dark {
    background: var(--grouch-dark-background);
    color: var(--grouch-on-dark-text);
  }

  &__semiDark {
    background: transparentize(#191919, 0.6);
    background: linear-gradient(253deg, rgba(25,25,25,0.1) 18%, rgba(25,25,25,0.8) 100%);
    color: var(--grouch-on-dark-text);
    // backdrop-filter: blur(3px);

    @include small-up {
      background: transparentize(#191919, 1);
      // backdrop-filter: blur(1px);
    }
  }

  &__white {
    background: white;
    color: var(--grouch-dirty-black);

    h1,
    h2,
    h3,
    p {
      color: var(--grouch-dirty-black);
    }
  }

  h2 {
    max-width: 80%;
  }

  p {
    margin: 1em 0 0;
    padding: 0;
    width: 80%;
    min-width: 300px;

    &:first-child {
      margin-top: 0;
    }
  }

  @include small-up {

    &__full {
      padding-right: 0;
      padding-left: 0;
    }

    &__flex {
      display: flex;
      justify-content: center;
      gap: 60px;
    }

    h2 {
      max-width: 580px;
    }

    p {
      margin: 1.15em 0 0;
      max-width: 600px;
    }
  }
}
