@import '@styles/variables';

@mixin gradient-1 {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    var(--grouch-dirty-black) 18%,
    var(--grouch-dark-purple) 78%,
    var(--grouch-dark-blue) 100%
  );
}

@mixin gradient-2 {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    var(--grouch-dark-purple) 0%,
    var(--grouch-dark-red) 100%
  );
}

@mixin phone-only {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin small-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin medium-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin large-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin amifer-regular {
  font-family: $amifer-font-family;
  font-weight: $amifer-font-weight;
  font-style: $amifer-font-style;
  line-height: 1.2;
}

@mixin amifer-bold {
  font-family: $amifer-font-family;
  font-weight: 700;
  font-style: $amifer-font-style;
  line-height: 1.2;
}

@mixin amifer-italic {
  font-family: $amifer-font-family;
  font-weight: $amifer-font-weight;
  font-style: italic;
}

@mixin nexus-regular {
  font-family: $nexus-font-family;
  font-weight: $nexus-font-weight;
  font-style: $nexus-font-style;
}

@mixin nexus-bold {
  font-family: $nexus-font-family;
  font-weight: 700;
  font-style: $nexus-font-style;
}

@mixin nexus-italic {
  font-family: $nexus-font-family;
  font-weight: $nexus-font-weight;
  font-style: italic;
}

@mixin container-padding {
  padding: $container-padding--top $container-padding--right
    $container-padding--bottom $container-padding--left;

  @include small-up {
    padding: $container-padding--top--xl $container-padding--right--xl
      $container-padding--bottom--xl $container-padding--left--xl;
  }
}

@mixin inputButtonStyles {
  width: fit-content;
  height: fit-content;
  padding: 0.8em 3em;
  background-color: $grouch-dark-yellow;
  color: $grouch-dirty-black;
  font-weight: 700;
  border: $input-border-width solid $grouch-dirty-black;
  border-bottom: $input-border-width solid $grouch-dark-yellow;
  border-right: $input-border-width solid $grouch-dark-yellow;
  border-top-color: $grouch-light-yellow;
  border-left-color: $grouch-light-yellow;
  text-transform: uppercase;

  &:hover {
    background-color: $grouch-light-yellow;
    color: $grouch-dirty-black;
    cursor: pointer;
    border-top-color: $grouch-light-yellow;
    border-left-color: $grouch-light-yellow;
    border-bottom-color: $grouch-dark-yellow;
    border-right-color: $grouch-dark-yellow;
  }
}

@mixin linkButtonStyles {
  font-size: 0.8em;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 1.1em 0.5em 1.1em;
  background-color: $grouch-dark-yellow;
  color: $grouch-dirty-black;
  font-weight: 700;
  border: $input-border-width solid $grouch-dirty-black;
  border-bottom: $input-border-width solid $grouch-dark-yellow;
  border-right: $input-border-width solid $grouch-dark-yellow;
  border-top-color: $grouch-light-yellow;
  border-left-color: $grouch-light-yellow;
  text-transform: uppercase;

  &:hover {
    background-color: $grouch-light-yellow;
    color: $grouch-dirty-black;
    cursor: pointer;
    border-top-color: $grouch-light-yellow;
    border-left-color: $grouch-light-yellow;
    border-bottom-color: $grouch-dark-yellow;
    border-right-color: $grouch-dark-yellow;
  }
}
