@mixin gradient-1 {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    var(--grouch-dirty-black) 18%,
    var(--grouch-dark-purple) 78%,
    var(--grouch-dark-blue) 100%
  );
}

@mixin gradient-2 {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    var(--grouch-dark-purple) 0%,
    var(--grouch-dark-red) 100%
  );
}

@mixin phone-only {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin small-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin medium-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin large-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin  amifer-regular                        {
  font-family: $amifer-font-family;
  font-weight: $amifer-font-weight;
  font-style: $amifer-font-style;
  line-height: 1.2;
}

@mixin amifer-bold {
  font-family: $amifer-font-family;
  font-weight: 700;
  font-style: $amifer-font-style;
  line-height: 1.2;
}

@mixin amifer-italic {
  font-family: $amifer-font-family;
  font-weight: $amifer-font-weight;
  font-style: italic;
}

@mixin nexus-regular {
  font-family: $nexus-font-family;
  font-weight: $nexus-font-weight;
  font-style: $nexus-font-style;
}

@mixin nexus-bold {
  font-family: $nexus-font-family;
  font-weight: 700;
  font-style: $nexus-font-style;
}

@mixin nexus-italic {
  font-family: $nexus-font-family;
  font-weight: $nexus-font-weight;
  font-style: italic;
}
