$container-padding--top: 2rem;
$container-padding--right: 3rem;
$container-padding--bottom: 3.2rem;
$container-padding--left: 3rem;

$container-padding--top--xl: 3.5rem;
$container-padding--right--xl: 5rem;
$container-padding--bottom--xl: 4rem;
$container-padding--left--xl: 5rem;

$grouch-dark-blue: #346499;
$grouch-light-blue: #71b0ea;
$grouch-light-purple: #9b6ad3;
$grouch-dark-purple: #663399;
$grouch-light-green: #85d375;
$grouch-dark-green: #439934;
$grouch-light-red: #d15959;
$grouch-dark-red: #993434;
$grouch-light-yellow: #edebb0;
$grouch-dark-yellow: #dbdb4f;
$grouch-dirty-black: #1d2033;
$grouch-dark-background: #191919;
$grouch-white: #ffffff;
$grouch-off-white: #f7f7f7;

$amifer-font-family: amifer, sans-serif;
$amifer-font-weight: 400;
$amifer-font-style: normal;

$nexus-font-family: "ff-nexus-typewriter", sans-serif;
$nexus-font-weight: 400;
$nexus-font-style: normal;

$input-border-width: 4px;
$form-gap-x: 1em;
$form-gap-y: 2.6em;
