@import '@styles/variables.scss';

.grouch-gradient {
  &-1 {
    fill: url(#grouch-gradient--main-one) var(--grouch-dirty-black);

    &a {
      fill: url(#grouch-gradient--main-one--a) var(--grouch-dirty-black);
    }

    &b {
      fill: url(#grouch-gradient--main-one--b) var(--grouch-dirty-black);
    }
  }

  &-2 {
    fill: url(#grouch-gradient--shape-one) var(--grouch-dirty-black);
    height: 100%;
  }

  &-3 {
    fill: url(#grouch-gradient--shape-two) var(--grouch-dirty-black);
    height: 100%;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 0;

  svg[focusable='false'] {
    width: 0;
    height: 0;
    position: absolute;
  }
}

.landscape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 1163px;
  height: 35vh;
  object-fit: contain;
}

.shape-one {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.shape-two {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  perspective: 500px;
  object-fit: contain;
}

.hands {
  position: fixed;
  bottom: -1em;
  left: 55%;
  width: 50vw;
  opacity: 0.2;
  z-index: 3;
  perspective: 500px;

  img {
    width: 100%;
    height: auto;
  }

  @include small-up {
    bottom: 15vh;
    left: 50%;
    width: 50vw;
    z-index: 1;
  }
}
